DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=password_mysql_anda
DB_NAME=db_wa_blast

JWT_SECRET=eba6fe032c6494d76226e516779cf3136c22c64c5680557df0dc0d37f29e8958

SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=superadmin123

LICENSE_KEY=WA-B5SY-XP6X-F53D-F5EC
LICENSE_API_SECRET=secret_lisensi_member
